*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Open Sans", "sans-serif"; }

.header--secondary {
  font-size: 2rem; }

.heading-primary {
  font-size: 6rem;
  margin-top: 12rem;
  margin-bottom: 3rem;
  line-height: 1.2;
  font-weight: 600;
  position: relative; }

.header-text {
  font-size: 1.5rem;
  color: #313030;
  line-height: 1.2;
  margin-bottom: 6rem; }

.header-text__search {
  margin-top: 20rem; }

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 2rem; }
  .navigation::before, .navigation::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 2px;
    display: block;
    background-color: #c9c7c7; }
  .navigation::before {
    left: 8rem; }
  .navigation::after {
    right: 11rem; }
  .navigation__list {
    display: flex;
    align-items: center;
    list-style: none; }
  .navigation__item {
    margin: 20px; }
  .navigation__link {
    text-decoration: none;
    color: #06064b;
    font-size: 1.8rem;
    font-weight: 400; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  font-weight: 300;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn__signin {
  background-color: transparent;
  color: #06064b; }
  .btn__signin:hover {
    transform: translateY(-3px); }

.btn__register {
  background-color: #06064b;
  color: #fff;
  border-radius: 10px; }
  .btn__register:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgab(#0b0b0b, 0.2); }
    .btn__register:hover *:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }

.btn__explore {
  font-size: 1.6rem;
  padding: 1.5rem 2.5rem;
  max-width: none;
  width: 15rem; }

.header {
  background-image: url(../img/bg-image-header.jpg);
  background-repeat: no-repeat;
  background-position: cover; }
  .header__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
    position: relative; }
  .header__text-box {
    margin-left: 10rem;
    margin-right: 14rem; }
  .header__image-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 5vw);
    grid-row-gap: 3rem;
    grid-column-gap: 3rem; }
    .header__image-box--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
    .header__image-box--img-1 {
      grid-row: 2 / span 2;
      grid-column: 1 / 3; }
    .header__image-box--img-2 {
      grid-row: 4 / span 3;
      grid-column: 1 / 3; }
    .header__image-box--img-3 {
      grid-row: 3 / 8;
      grid-column: 3 / 5; }
  .header__logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-top: -30rem; }
    .header__logos img {
      filter: brightness(90%);
      width: 50%;
      max-width: 100%;
      max-height: 100%; }
    .header__logos--logo-1 {
      margin-left: 15rem; }
    .header__logos--logo-2 {
      margin-right: 3rem; }
    .header__logos--logo-3 {
      margin-right: 15rem; }
    .header__logos--logo-4 {
      margin-right: 35rem; }

.form {
  background-color: white;
  display: flex;
  column-gap: 2rem;
  padding-top: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2rem;
  padding-bottom: 0;
  border-radius: 20px; }
  .form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem; }
  .form__label {
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center; }
  .form__input {
    padding-top: 1rem;
    border: none; }
    .form__input::placeholder {
      color: #baafaf;
      font-weight: 500; }

#form-right {
  position: absolute;
  top: 40rem;
  right: 100rem;
  transform: translate(50%, 0); }

.header__text--search {
  margin-top: 20rem;
  font-size: 1.5rem;
  font-weight: 700; }
  .header__text--search span {
    color: #090909; }
  .header__text--search a {
    text-decoration: none;
    color: #635f5f; }

.orange {
  color: #d17052 !important; }
