*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Open Sans", "sans-serif"; }

.header--secondary {
  font-size: 2rem; }

.heading-1 {
  font-size: 6rem;
  margin-top: 12rem;
  margin-bottom: 3rem;
  line-height: 1.2;
  font-weight: 600;
  position: relative; }

.heading-2 {
  font-size: 4.5rem; }

.header-text {
  font-size: 1.5rem;
  color: #807b7b;
  line-height: 1.2;
  margin-bottom: 6rem; }

.header-text__search {
  margin-top: 20rem; }

.heading-3 {
  font-size: 1.6rem;
  margin-bottom: 1rem; }

.text-3 {
  font-size: 1.4rem;
  color: #807b7b;
  font-weight: 600; }

.text-4 {
  font-size: 1.2rem;
  font-weight: 700; }

.text-5 {
  font-size: 1.5em; }
  .text-5 span {
    font-size: 1rem;
    color: grey; }

.text-6 {
  width: 70%;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
  color: #5b5757; }

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 2rem; }
  .navigation::before, .navigation::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 2px;
    display: block;
    background-color: #c9c7c7; }
  .navigation::before {
    left: 8rem; }
  .navigation::after {
    right: 11rem; }
  .navigation__list {
    display: flex;
    align-items: center;
    list-style: none; }
  .navigation__item {
    margin: 20px; }
  .navigation__link {
    text-decoration: none;
    color: #06064b;
    font-size: 1.8rem;
    font-weight: 400; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  font-weight: 300;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn__signin {
  background-color: transparent;
  color: #06064b; }
  .btn__signin:hover {
    transform: translateY(-3px); }

.btn__dark {
  background-color: #06064b;
  color: #fff;
  border-radius: 10px; }
  .btn__dark:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgab(#0b0b0b, 0.2); }
    .btn__dark:hover *:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }

.btn__explore {
  font-size: 1.6rem;
  padding: 1.5rem 2.5rem;
  max-width: none;
  width: 15rem; }

.orange-btn {
  font-size: 1.5rem;
  font-weight: 500;
  color: #e47952;
  border: none;
  background-color: #d9c4b7;
  border-radius: 1rem; }

.button__arrow {
  border: none;
  text-decoration: none;
  background-color: orangered;
  padding: 1.5rem 2rem;
  border-radius: 2rem; }
  .button__arrow--icon {
    width: 3rem;
    height: 3rem;
    fill: #fff; }

.header {
  background-image: url(../img/bg-image-header.jpg);
  background-repeat: no-repeat;
  background-position: cover; }
  .header__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
    position: relative; }
  .header__text-box {
    margin-left: 10rem;
    margin-right: 14rem; }
  .header__image-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 5vw);
    grid-row-gap: 3rem;
    grid-column-gap: 3rem; }
    .header__image-box--img {
      width: 100%;
      height: 100%;
      filter: brightness(70%); }
    .header__image-box--img-1 {
      grid-row: 2 / span 2;
      grid-column: 1 / 3; }
    .header__image-box--img-2 {
      grid-row: 4 / span 3;
      grid-column: 1 / 3; }
    .header__image-box--img-3 {
      grid-row: 3 / 8;
      grid-column: 3 / 5; }
  .header__logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-top: -30rem; }
    .header__logos img {
      filter: brightness(90%);
      width: 50%;
      max-width: 100%;
      max-height: 100%; }
    .header__logos--logo-1 {
      margin-left: 15rem; }
    .header__logos--logo-2 {
      margin-right: 3rem; }
    .header__logos--logo-3 {
      margin-right: 15rem; }
    .header__logos--logo-4 {
      margin-right: 35rem; }

.form {
  background-color: white;
  display: flex;
  column-gap: 2rem;
  padding-top: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2rem;
  padding-bottom: 0;
  border-radius: 20px;
  z-index: 20; }
  .form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem; }
  .form__details {
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 0.5rem; }
  .form__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: orangered; }
  .form__label {
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center; }
  .form__input {
    padding-top: 1rem;
    border: none; }
    .form__input::placeholder {
      color: #baafaf;
      font-weight: 500; }

#form-right {
  position: absolute;
  top: 40rem;
  right: 100rem;
  transform: translate(50%, 0); }

.header__text--search {
  margin-top: 20rem;
  font-size: 1.5rem;
  font-weight: 700; }
  .header__text--search span {
    color: #090909; }
  .header__text--search a {
    text-decoration: none;
    color: #635f5f; }

.orange {
  color: #d17052 !important; }

.features {
  background-color: #d2caca;
  padding-left: 10rem;
  min-height: 100vh; }
  .features__text--box {
    display: flex;
    justify-items: center;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 5rem; }
    .features__text--box p {
      margin-top: 10rem;
      margin-left: 10rem;
      margin-right: 20rem;
      max-width: 35%;
      line-height: 1.4; }

.feature {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10rem; }
  .feature__listing {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #c3c1c1;
    border-radius: 2rem;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
    margin-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    column-gap: 2rem; }
    .feature__listing img {
      width: 30%;
      border-radius: 1rem; }

.packages {
  padding-left: 10rem;
  min-height: 100vh;
  padding-right: 10rem;
  padding-bottom: 10rem;
  background-color: #d2caca; }
  .packages___text--box {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center; }
  .packages__list {
    display: flex;
    list-style: none;
    gap: 5rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
    font-weight: 600; }
    .packages__list li a {
      text-decoration: none;
      color: #686262; }
  .packages__overview {
    display: flex;
    margin-top: -5rem; }
    .packages__overview::before, .packages__overview::after {
      content: "";
      position: absolute;
      bottom: 10rem;
      width: 28%;
      height: 2px;
      display: block;
      background-color: #c9c7c7; }
    .packages__overview--text {
      display: flex;
      justify-items: center;
      align-items: center; }
      .packages__overview--text--icon {
        width: 12%;
        height: 12%;
        fill: orangered; }
  .packages__pricing {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .packages__details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    position: relative; }
    .packages__details--overview {
      border: 2px solid #c3c1c1;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
      background-color: #ddd8d8;
      padding: 2rem;
      width: 100%;
      border-radius: 2rem; }

.location {
  display: flex;
  justify-items: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: -5rem;
  margin-bottom: -5rem; }
  .location__icon {
    width: 5%;
    height: 5%;
    fill: orangered; }
  .location__img {
    margin-top: 2rem; }
    .location__img img {
      width: 100%;
      height: 200px;
      border-radius: 1rem; }

.listing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 10rem;
  align-items: center;
  justify-items: center;
  background-image: url(../img/bg-image-header.jpg);
  background-repeat: no-repeat;
  background-position: cover; }
  .listing__image-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 5vw);
    grid-row-gap: 3rem;
    grid-column-gap: 3rem; }
    .listing__image-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      filter: brightness(70%); }
    .listing__image-box__img--1 {
      grid-row: 3 / span 5;
      grid-column: 1 / span 2; }
    .listing__image-box__img--2 {
      grid-row: 2 / 5;
      grid-column: 3 / 5; }
    .listing__image-box__img--3 {
      grid-row: 5 / 9;
      grid-column: 3 / 5; }

.testimonials__text {
  display: grid;
  grid-template-columns: 1fr 1fr; }
