.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    font-weight: 300;
    // display: inline-block;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
    // max-width: 100%;
  }
  &__signin {
    background-color: transparent;
    color: rgb(6, 6, 75);

    &:hover {
      transform: translateY(-3px);
      // background-color: rgba(6, 6, 75);
    }
  }

  &__dark {
    background-color: rgb(6, 6, 75);
    color: #fff;
    border-radius: 10px;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgab(rgb(11, 11, 11), 0.2);

      *:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  }

  &__explore {
    font-size: 1.6rem;
    padding: 1.5rem 2.5rem;
    max-width: none;
    width: 15rem;
  }
}

.orange-btn {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(228, 121, 82);
  border: none;
  background-color: rgb(217, 196, 183);
  border-radius: 1rem;
}

.button {
  text-decoration: none;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  font-weight: 300;
  // display: inline-block;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
  &__arrow {
    border: none;
    text-decoration: none;
    background-color: orangered;
    padding: 1.5rem 2rem;
    border-radius: 2rem;

    &--icon {
      width: 3rem;
      height: 3rem;
      fill: #fff;
    }
  }

  &--light {
    background-color: rgb(191, 190, 190);
  }

  &--icon-light {
    fill: rgb(100, 95, 95);
  }
}
