.header {
  background-color: rgb(218, 211, 211);

  &__details {
    display: flex;
  }

  &--logos {
    & img {
      width: 20%;
      filter: brightness(70%);
    }
  }
}

.header__image-box {
  &--img {
    width: 40%;
  }
}
.header__box {
  display: flex;
  flex-direction: row;
}
