.header {
  background-color: orange;

  &__details {
    display: flex;
  }

  &--logos {
    & img {
      width: 20%;
      filter: brightness(70%);
    }
  }
}

.header__image-box {
  &--img {
    width: 40%;
  }
}
