.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-top: 20px;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin: 20px;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    font-weight: 800;
  }
}
